<div class="filters-container">
    <div class="location-filter">
        <dropdown (selectionChanged)="updateLocationList($event)" [dataModel]="cities" [buttonLabel]="cityDropdownLabel" [optionName]="'location'"></dropdown>
    </div>

    <div class="category-filter">
        <dropdown (selectionChanged)="updateCategoryList($event)" [dataModel]="categories" [buttonLabel]="categoryDropdownLabel" [optionName]="'categories'"></dropdown>
    </div>

    <div class="min-price">
        <input #minPriceInput type="number" (blur)="updateMinPrice(minPriceInput.value)" (oninput)="updateMinPrice(minPriceInput.value)" (onchange)="updateMinPrice(minPriceInput.value)" (change)="updateMinPrice(minPriceInput.value)" min="0" step="100" placeholder="Min. price"/>
    </div>

    <div class="max-price">
        <input #maxPriceInput type="number" (blur)="updateMaxPrice(maxPriceInput.value)" (oninput)="updateMaxPrice(maxPriceInput.value)" (onchange)="updateMaxPrice(maxPriceInput.value)" (change)="updateMaxPrice(maxPriceInput.value)" min="0" step="100" placeholder="Max. price"/>
    </div>
	
     <div class="date-picker">
         <date-picker (selectedFromChanged)="getFromDate($event)" (selectedToChanged)="getToDate($event)"></date-picker> 
    </div> 
    <button class="get-list-btn" (click)="getResult()"><span>Filter</span>  <i class="fa fa-filter" aria-hidden="true"></i></button>
</div>