<div class="filters-container">
    <div class="dropdown-filter">
        <dropdown (selectionChanged)="updateLocationList($event)" [dataModel]="cities" [buttonLabel]="cityDropdownLabel" [optionName]="'location'"></dropdown>
        <dropdown (selectionChanged)="updateCategoryList($event)" [dataModel]="categories" [buttonLabel]="categoryDropdownLabel"
            [optionName]="'categories'"></dropdown>
    </div>

    <div class="date-picker">
        <date-picker (selectedFromChanged)="getFromDate($event)" (selectedToChanged)="getToDate($event)"></date-picker>
    </div>

    <div class="price-filter">
        <input #minPriceInput type="number" min="0" step="100" placeholder="Min. price" (blur)="updateMinPrice(minPriceInput.value)"
            (oninput)="updateMinPrice(minPriceInput.value)" (onchange)="updateMinPrice(minPriceInput.value)" (change)="updateMinPrice(minPriceInput.value)"
        />
        <input #maxPriceInput type="number" min="0" step="100" placeholder="Max. price" (blur)="updateMaxPrice(maxPriceInput.value)"
            (oninput)="updateMaxPrice(maxPriceInput.value)" (onchange)="updateMaxPrice(maxPriceInput.value)" (change)="updateMaxPrice(maxPriceInput.value)"
        />
    </div>

    <button class="get-list-btn" (click)="getResult()"><span>Filter</span>  <i class="fa fa-filter" aria-hidden="true"></i></button>
</div>