.dropdown-filter,
.price-filter,
.date-picker,
.get-list-btn {
    /*top:20%;*/
    left: 3rem;
    position: relative;
    color: white;
    display: flex;
    /*margin-right: 3rem;*/
}

*:focus {
    outline: 0;
}

.price-filter {
    margin-top: 1.6rem;
    margin-left: 1rem;
    input {
        outline: .2px solid #26181D;
        width: 10rem;
        border: 0;
        height: 3.4rem;
        text-align: center;
        background-color: white;
        color: #26181D;
        margin-right: 1rem;
        &::placeholder {
            color: #26181D;
        }
    }
}

.hide-dropdown {
    display: none;
}

.filters-container {
    display: flex;
}

.get-list-btn {
    display: none;
    width: 10rem;
    height: 3.7rem;
    border: none;
    background-color: #73656A;
    ;
    color: white;
    margin-top: 1.5rem;
}

@media (max-width: 955px) {
    .filters-container {
        display: block;
        text-align: center;
    }
    .dropdown-filter,
    .price-filter,
    .date-picker,
    .get-list-btn {
        left: 0;
        display: block;
    }
    .price-filter {
        input {
            width: 50%;
            display: block;
            margin: 2rem auto;
        }
    }
    .get-list-btn {
        display: inline-block;
        width: 50%;
        margin-top: 2rem;
    }
}