<nav class="nav-container">
  <a href=""  angulartics2On="click" angularticsEvent="GoToHomePageEvent" angularticsCategory="NavBarInteraction">
    <img class="image" src="/assets/img/icon.png" alt="workshop image">
  </a>
  <div class="navbar-header">
    <button *ngIf="showFilters" type="button" class="filter-header btn" (click)="toggleFilter()">
          <div>Filters <i class="fa fa-filter" aria-hidden="true"></i></div>
    </button>
    <button type="button" class="navbar-toggle" (click)="toggleNavbar()">
      <div><i class="fa fa-bars" aria-hidden="true"></i></div>
    </button>

  </div>

  <div class="navbar-collapse" [ngClass]="{'hideNavbar': hideNavbar}">
    <ul class="nav navbar-nav navbar-right">
      <li class="active" angulartics2On="click" angularticsEvent="GoToWorkshopsPageEvent" angularticsCategory="NavBarInteraction"><a href="/workshops">Workshops</a></li>
      <li><a href="#" angulartics2On="click" angularticsEvent="GoToAboutPageEvent" angularticsCategory="NavBarInteraction">About</a></li>
      <li><a href="/contact" angulartics2On="click" angularticsEvent="GoToContactPageEvent" angularticsCategory="NavBarInteraction">Contact</a></li>
    </ul>
  </div>
</nav>