.suggestions {
    z-index: 99;
    width: auto;
    background-color: white;
    box-shadow: 0 0 0.7px grey;
    position: absolute;
    color: #15424E;
    text-align: left;
    left: 0;
    margin-left: 1.6rem;
    ul {
        padding: 0;
        margin: 1rem;
        max-height: 30rem;
        overflow: scroll;
    }
    li {
        list-style: none;
        cursor: pointer;
        padding: .5rem;
        white-space: nowrap;
        width: auto;
    }
}

.dropdown-container {
    margin: 1.6rem;
    left: 0;
    width: 70%;
    height: 3.4rem;
    button {
        width: 100%;
        height: 6rem;
        border: none;
        background-color: transparent;
    }
}

.filter-input {
    color: #333333;
    width: 100%;
    height: 100%;
}

@media (max-width: 955px) {
    .suggestions {
        margin-left: 1rem;
        width: 100%;
        li {
            white-space: inherit;
        }
    }
    .dropdown-container {
        margin: 1rem;
        width: 100%;
    }
}