.hide-dropdown{
    display:none;
}

.dropdown-list {
    z-index: 99;
    padding: 1.5rem 0 1.5rem 1.5rem;
    width: 15rem;
    background-color: white;
    box-shadow: 0 0 0.7px grey;
    position: absolute;
    color: #15424E;
}


button {
    width: 10rem;
    height: 6rem;
    border: none;
    background-color: transparent;
}

.dropdown-container button:hover {
    background-color: #426771;
}

.data-list input {
    transform: scale(1.2);
    margin-right: .5rem;

}

.data-list span {
    vertical-align: middle;
    font-size: 1.5rem;
}