.detail-img {
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.profile-img {
    width: 12rem;
    height: 12rem;
    /*border-radius: 50%;*/
    object-fit: cover;
    margin-right: 2rem;
    /*border: 3px solid #15424E;*/
}

.profile-photo {
    float: left;
}

.photographer-name h1 {
    font-size: 2.5rem;
    color: #73656A;
}

.photographer-information h4 {
    margin-top: 0;
}

.detail-location {
    color: #73656A;
    opacity: 0.8;
    margin-bottom: .5rem;
}

.website-link {
    text-decoration: none;
    margin-bottom: 1rem;
}


/* Style the tab */

div.tab {
    overflow: hidden;
    margin-top: 5rem;
    width: 100%; // padding-left: 15%;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border-bottom: 3px solid transparent;
        font-size: 2rem;
        color: #73656A;
        &.active {
            /*background-color: #ccc;*/
            border-bottom: 3px solid #73656A;
        }
    }
}


/* Style the tab content */

.tabcontent {
    display: none;
    border-top: none;
    text-align: left;
    padding-left: 2rem;
    height: 40rem;
    overflow: scroll;
    width: 100%;
    background-color: rgba(239, 230, 233, 0.57);
}

.detail-tabs {
    text-align: center;
    width: 65%;
    float: left;
    margin-left: 4rem;
}

.day-wrapper,
.photographer-information {
    padding-top: 2rem;
}

.day-wrapper .location,
.photographer-information h4 {
    color: #73656A
}

#Description {
    p {
        padding-top: 2rem;
        margin-right: .4rem;
    }
    h3 {
        margin-top: 5%;
    }
}

#Gallery img {
    display: inline-block;
    vertical-align: middle;
    width: 25rem;
    height: 28rem;
    margin: 2rem;
    object-fit: cover;
    filter: sepia(20%);
}

.wsd-name {
    font-size: 3.5rem;
    color: #73656A;
    text-align: center;
    margin-top: 3rem;
    font-weight: 500;
}

.highlights {
    margin-top: 3rem; // text-align: center;
    display: inline-block;
    margin-top: 10rem;
    padding-left: 5rem;
    width: 30%;
    a {
        color: #73656A; // margin-left: 2rem;
    }
    div {
        // display: inline;
        // margin: 2rem ;
        font-size: 2rem;
        font-weight: 300;
        color: #73656A;
        i {
            color: #73656A;
            padding-left: 1rem;
        }
    }
}