<div class="workshop-list">
    <div>
        <article class="entity" *ngFor="let data of asyncData | async">
            <a [href]="createWorkshopDetailsUrl(data.workshopId, data.name)">
            <div class="inner">
                <img class="image" [src]="this.workshopRepository.globalConstants.resolveImageUrl(data.imageLink)" alt="workshop image" />
                <h1 class="name truncate" title="{{ data.name }}">
                    {{ data.name }}
                </h1>
                <hr>
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>{{this.formatLocation(data.locationId)}}</span>
                </div>
                <div class="date">
                    <span>{{this.formatDate(data.startDateFirst)}}</span>
                    <span *ngIf="data.startDateFirst != data.endDateFirst">-</span>
                    <span *ngIf="data.startDateFirst != data.endDateFirst"> {{this.formatDate(data.endDateFirst)}} </span>
                </div>
                <div class="price" *ngIf="data.minCost == data.maxCost">{{data.costCurrency}} {{data.minCost}}</div>
                <div class="price" *ngIf="data.minCost < data.maxCost">{{data.costCurrency}} {{data.minCost}}-{{data.maxCost}}</div>
            </div>
            </a>
        </article>
    </div>
    <div *ngIf="itemsPerPage > 4" class="ws-pages"> 
        <ul>
            <li *ngFor="let page of pageNumbers">
                <a [href]="createPageLink(page)">{{page}}</a>
            </li>
        </ul>
    </div>
</div>