.workshop-list {
    text-align: center;
}

<<<<<<< Updated upstream
=======
.ws-pages /deep/ {
    ul.ng2-pagination {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #73656A;
            &:hover {
                border-radius: 20%;
            }
        }
        li.current {
            background: #73656A;
            border-radius: 20%;
        }
    }
}

>>>>>>> Stashed changes
.entity {
    width: 30rem;
    display: inline-block;
    margin: 2rem;
    box-shadow: 0rem 0rem 0.2rem 0rem #888888;
    img {
        vertical-align: middle;
        width: 30rem;
        height: 20rem;
        margin-bottom: 2rem;
        object-fit: cover;
        filter: sepia(20%);
    }
}

.inner {
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
}

h1.name {
    margin-top: 0;
    font-size: 2rem;
    color: #26181D;
}

.price {
    color: #594B50;
    text-align: left;
    padding-left: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
}

hr {
    width: 10rem;
    text-align: center;
    border-color: #594B50;
    opacity: 0.3;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.date {
    color: #594B50;
    text-align: left;
    padding-left: 1rem;
}

.location {
    color: #26181D;
    padding-bottom: 1rem;
    opacity: 0.6;
}

.truncate {
    width: 28rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 955px) {
    .entity {
        width: auto;
        display: block;
        .image {
            height: 20rem;
            margin-bottom: 1rem;
            width: 100%;
        }
    }
    h1.name {
        font-size: 1.8rem;
        margin: auto;
    }
}