<div class="workshop-list">
    <div>
        <article class="entity" *ngFor="let data of workshops;">
            <div class="inner" (click)="loadWorkshopDetails(data.workshopId, data.name)">
                <img class="image" [src]="this.workshopRepository.globalConstants.resolveImageUrl(data.imageLink)" alt="workshop image" />
                <h1 class="name truncate" title="{{ data.name }}">
                    {{ data.name }}
                </h1>
                <hr>
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>{{this.formatLocation(data.locationId)}}</span> 
                </div>
                <div class="date">
                    <span>{{this.formatDate(data.startDate)}}</span>
                    <span>-</span>
                    <span> {{this.formatDate(data.endDate)}} </span>
                </div>
                <div class="price">{{data.costCurrency}} {{data.cost}}</div>
            </div>
        </article>
    </div>
</div>